.root {
    --lav: ;
    --pink: #FFC8DD; 
    --pink2: #FFAFCC;
    --blue: #BDE0FE;
    --blue2: #A2D2FF;
    --black: black;
 }
* {
    background-color: #3f612d;

}
body {
    background-color: #FEEA00;
    margin: 0%;
    padding:0%;
}
header{
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
}




